<%#= link_to_if presented_current_member_profile.next_section.present?, "Next Section", presented_current_member_profile.next_section, class: "dark-action-button" %>

<% if presented_current_member_profile.next_section.present? %>
  <%= link_to presented_current_member_profile.next_section, class: 'next-section-button' do %>
    Next Section
    <i class='fa fa-arrow-right'></i>
  <% end %>
<% end %>

<ul class="application-form-overview">
  <li>
    <%= presented_current_member_profile.progress_icon(presented_current_member_profile.basic_information?) %>
    <%= presented_current_member_profile.basic_information_link %>
  </li>

  <li>
    <%= presented_current_member_profile.progress_icon(presented_current_member_profile.work_eligibility?) %>
    <%= presented_current_member_profile.work_eligibility_link %>
  </li>

  <li>
    <%= presented_current_member_profile.progress_icon(presented_current_member_profile.has_current_address?) %>
    <%= presented_current_member_profile.addresses_link %>
  </li>

  <li>
    <%= presented_current_member_profile.progress_icon(presented_current_member_profile.member_qualification?) %>
    <%= presented_current_member_profile.member_qualification_link %>
  </li>

  <li>
    <%= presented_current_member_profile.progress_icon(presented_current_member_profile.member_training?) %>
    <%= presented_current_member_profile.member_training_link %>
  </li>

  <li>
    <%= presented_current_member_profile.progress_icon(presented_current_member_profile.has_referees_and_emergency_contact?) %>
    <%= presented_current_member_profile.referee_and_emergency_contact_link %>
  </li>

  <li>
    <%= presented_current_member_profile.progress_icon(presented_current_member_profile.occupational_health_complete?) %>
    <%= presented_current_member_profile.occupational_health_screening_link %>
  </li>

  <li>
    <%= presented_current_member_profile.progress_icon(presented_current_member_profile.dbs_check?) %>
    <%= presented_current_member_profile.dbs_check_link %>
  </li>

  <li>
    <%= presented_current_member_profile.progress_icon(presented_current_member_profile.payment_information?) %>
    <%= presented_current_member_profile.payment_information_link %>
  </li>
</ul>
