<h1>Candidate Registration</h1>

<% debug @registration_data %>

<%= render @registration_data.basic_information %>

<%= render @registration_data.work_eligibility %>

<div class="row">
  <div class="small-12 columns">
    <h2>Where you live</h2>
    <%= render partial: "member_area/member_addresses/member_address", collection: @registration_data.addresses,
               locals: { locked: true } %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Qualifications and training</h2>
    <%= render @registration_data.member_qualification %>

    <%= render @registration_data.member_training %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Referees and emergency contacts</h2>
    <%= render partial: "member_area/referees/referee", collection: @registration_data.referees, locals: { locked: true } %>

    <%= render partial: "member_area/emergency_contacts/emergency_contact", object: @registration_data.emergency_contact, locals: { locked: true } %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Occupational Health Screening (Clinical)</h2>
    <%= render partial: "member_area/basic_informations/occupational_health_screening_personal_details", object: @registration_data.basic_information, as: :basic_information %>
    <%= render partial: "member_area/basic_medical_histories/uneditable_basic_medical_history", locals: {
        basic_medical_history: @registration_data.basic_medical_history, current_address: @registration_data.current_address } %>
    <%= render partial: "member_area/tuberculosis_chicken_pox_checks/uneditable_tuberculosis_chicken_pox_check", locals: {
        tuberculosis_chicken_pox_check: @registration_data.tuberculosis_chicken_pox_check } %>
    <%= render partial: "member_area/immunisation_histories/uneditable_immunisation_history", locals: {
        immunisation_history: @registration_data.immunisation_history } %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Disclosure and Barring Service (DBS formerly CRB)</h2>

    <%= render @registration_data.dbs_check %>
  </div>
</div>

