<div class="row">
  <div class="small-12 columns">
    <h1>Candidate Registration</h1>
  </div>
</div>

<% debug @registration_data %>

<%= render partial: @registration_data.basic_information, formats: [:html] %>

<%= render @registration_data.work_eligibility %>

<div class="row">
  <div class="small-12 columns">
    <hr />

    <h2>Address Details</h2>

    <%= render partial: "member_area/member_addresses/member_address", collection: @registration_data.addresses,
               locals: { locked: true } %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <hr />

    <h2>Qualifications and training</h2>

    <%= render @registration_data.member_qualification %>

    <%= render @registration_data.member_training %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <hr />

    <h2>Referees and emergency contacts</h2>

    <%= render partial: "member_area/referees/referee", collection: @registration_data.referees, locals: { locked: true }, formats: [:pdf] %>

    <hr class="partial-separator" />

    <%= render partial: "member_area/emergency_contacts/emergency_contact", object: @registration_data.emergency_contact, locals: { locked: true }, formats: [:pdf] %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <hr />

    <%= render "occupational_health_screening" %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <hr />

    <h2>Disclosure and Barring Service (DBS formerly CRB)</h2>

    <%= render @registration_data.dbs_check %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <hr />

    <%= render @registration_data.payment_information %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <hr />

    <%= render "declarations" %>
  </div>
</div>
