<%= form_for [:member_area, @referee] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <%= f.label :contact_number %>
    <%= f.telephone_field :contact_number %>
  </div>

  <div class="field">
    <%= f.label :fax_number %>
    <%= f.text_field :fax_number %>
  </div>

  <div class="field">
    <%= f.label :email_address %>
    <%= f.email_field :email_address %>
  </div>

  <div class="field">
    <%= f.label :postal_address %>
    <%= f.text_area :postal_address %>
  </div>

  <div class="field">
    <p>
      May we contact this referee prior to your interview?
    </p>
    <%= f.radio_button :contact_referee, true %>
    <%= f.label :contact_referee, "Yes",value: true %>

    <%= f.radio_button :contact_referee, false %>
    <%= f.label :contact_referee, "No", value: false %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>