<div class="referee">
  <%= referee.name %>

  <%= referee.position %>
  <%= referee.contact_number %>
  <%= referee.fax_number %>
  <%= referee.email_address %>
  <%= referee.postal_address %>

  <%= referee.contact_referee_statement %>

  <%= referee.edit_link %>
</div>