<div class="referee">
  <% present referee do |presenter| %>
    <h4>
      Referee <%= referee_counter + 1 %>
      <%= presenter.edit_link unless locked %>
    </h4>

    <div class="row">
      <div class="small-6 columns">
        <div class="referee-field-title">
          Full name
        </div>
        <%= presenter.name %>
      </div>

      <div class="small-6 columns">
        <div class="referee-field-title">
          Position
        </div>
        <%= presenter.position %>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <div class="referee-field-title">
          Contact number
        </div>

        <%= presenter.contact_number %>
      </div>
      <div class="small-3 columns">
        <div class="referee-field-title">
          Fax number
        </div>
        <%= presenter.fax_number %>
      </div>
      <div class="small-6 columns">
        <div class="referee-field-title">
          Email address
        </div>
        <%= presenter.email_address %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="referee-field-title">
          Postal Address
        </div>
        <%= presenter.postal_address %>
      </div>
    </div>

    <p><strong><%= presenter.contact_referee_statement %></strong></p>
  <% end %>
</div>
