<%= form_for(@testimonial) do |f| %>
  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
        <% @testimonial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="field">
        <%= f.label :forename %><br>
        <%= f.text_field :forename %>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="field">
        <%= f.label :surname %><br>
        <%= f.text_field :surname %>
      </div>
    </div>
  </div>

  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
      <div class="field">
        <%= f.label :role %><br>
        <%= f.text_field :role %>
      </div>

      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'tinymce' %>
      </div>

      <div class="field">
        <%= f.label :video_embed_code %><br>
        <%= f.text_area :video_embed_code %>
      </div>
    <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
      <%= f.image_field :image %>
    <% end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>
      <%= field_set_tag "Landing Pages" do %>
        <div class="field">
          <%= f.label :landing_page_ids %>
          <%= f.select(
            :landing_page_ids, LandingPage.order(:name).pluck(:name, :id),
            {}, { class: 'multiselect', multiple: true }
          ) %>
        </div>
      <% end %>

      <%= render(
        partial: 'optimadmin/shared/audience_form_select',
        locals: {
          f: f,
        }
      ) %>
      <div class="field">
        <%= f.label :display %><br>
        <%= f.check_box :display %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
