<%= form_for [:member_area, @referral_offer, @referral] do |f| %>
  <% if @referral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @referral.errors.count, "error" %> prevented your referral from being saved</h2>
      <ul>
        <% @referral.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.telephone_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :mobile_number %>
    <%= f.telephone_field :mobile_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
