<%= form_for [:member_area, @member_training], url: member_area_member_training_path do |f| %>
  <% if @member_training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @member_training.errors.count, "error" %> prevented your training from being saved</h2>
      <ul>
        <% @member_training.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    You are required to complete the following <strong>mandatory training</strong> on an annual basis and will be required to complete
    our online training prior to the start of your first assignment.
  </p>

  <p>
    Which of the following mandatory training courses have you completed before?
  </p>

  <%= f.collection_check_boxes :mandatory_training_course_ids, MandatoryTrainingCourse.displayed.order(name: :asc), :id, :name %>

  <div id="other-training-courses">
    <%= f.fields_for :member_other_training_courses do |training_course| %>
      <%= render "member_area/member_trainings/member_other_training_course_fields", f: training_course %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "Add Other Training Course", f, :member_other_training_courses %>
    </div>
  </div>


  <%= f.submit "Save" %>
<% end %>
