<%= render 'shared/social_media' %>
<footer class="primary-footer">
  <div class="row">
    <div class="medium-12 columns">
      <h5>Contact Us</h5>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns" data-animation-type="slideInLeft">
      <p>
        If you would like to contact us about anything else, please use the form
        opposite and a member of our friendly team will be right back to you:<br /><br />

        <%= image_tag 'layout/header/logo.png', alt: 'NL Group' %><br /><br />


        NL Group<br />
        The Riverside Building<br />
        Livingstone Road<br />
        Hessle<br />
        East Riding of Yorkshire<br />
        HU13 0DZ<br /><br />

        <%= link_to 'nlgroup.co.uk', 'http://nlgroup.co.uk' %><br /><br />

        Email: <%= mail_to 'info@nlgroup.co.uk' %><br />
        Tel: 01482 60 60 40 (Option 1)<br />
        Fax: 01482 62 83 81
    </div>

    <div class="medium-6 columns" data-animation-type="slideInRight">
      <%= render 'contacts/form' %>
    </div>
  </div>
</footer>
