<title><%= "#{@title} - " if @title %><%= global_site_settings['Name'] %></title>

<meta name="description" content="<%= @meta_description %>" />
<meta name="keywords"    content="<%= @meta_tags %>" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<%= stylesheet_link_tag    'application', media: 'all' %>
<%= csrf_meta_tags %>

<!--[if lt IE 9]>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<![endif]-->

<%= yield :head %>

<script src="https://use.typekit.net/mrc6nuy.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
