<%= form_for(@member_profile) do |f| %>
<% if @member_profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@member_profile.errors.count, "error") %> prohibited this member_profile from being saved:</h2>

    <ul>
      <% @member_profile.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>

      <div class="field">
        <%= f.label :team_member_id %><br>
        <%= f.collection_select :team_member_id, TeamMember.order(forename: :asc), :id, :full_name, include_blank: true %>
      </div>

    <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
      <div class="field">
        <%= f.label :active %><br>
        <%= f.check_box :active %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
