<%= render 'optimadmin/shared/header/main_title', title: 'Manage Additional Blocks' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/form/back', path: additional_rows_path, title: 'Additional Rows' %>

    <%= render 'optimadmin/shared/module/index/new_item', title: 'Additional Block', object: AdditionalBlock, path: new_additional_block_path(additional_row_id: params[:additional_row_id]) %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <!--
      <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    -->
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @additional_blocks.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">



      <% # ADD TWO TO THE TITLE LARGE COLUMN SIZE BELOW TO ACCOUNT FOR NO IMAGE %>



      <%= list_item 'large-1 hide-for-medium-down' do %>
        <%= octicon('settings') %>
      <% end %>

      <%= list_item 'large-3 small-4' do %>
        Name
      <% end %>
      <%= list_item 'large-1 small-4' do %>
        Title
      <% end %>
      <%= list_item 'large-1 small-4' do %>
        Content
      <% end %>
      <%= list_item 'large-3 small-4' do %>
        Buttons
      <% end %>




    <%= list_item { 'Display' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item('large-1 hide-for-medium-down text-center last'){ 'Delete' } %>
  </div>

  <!-- <div class='module-sortable' data-module="AdditionalBlock"> -->
  <%= render partial: 'additional_block', collection: @additional_blocks, as: :additional_block_presenter %>
  <!-- </div> -->
  <%= paginate @additional_blocks %>
</div>
