<div class="tuberculosis-chicken-pox-check">
  <h4>Tuberculosis</h4>

  <% present tuberculosis_chicken_pox_check do |presenter| %>
    <div class="row">
      <div class="small-12 columns">
        <%= presenter.lived_continuously %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div><%= presenter.bcg_vaccination %></div>
        <div class="field-title inline">Vaccination date:</div> <%= presenter.vaccination_date %>
      </div>
    </div>


    <% unless presenter.has_lived_continuously? %>
      <hr class="partial-separator" />

      <h6>Countries you have lived in/visited in the last 5 years</h6>
      <div class="visited-country">
        <div class="row">
          <div class="small-5 columns">
            <div class="field-title">
              Country name
            </div>
          </div>
          <div class="small-3 columns">
            <div class="field-title">
              Duration (in months)
            </div>
          </div>
          <div class="small-2 columns">
            <div class="field-title">
              From year
            </div>
          </div>
          <div class="small-2 columns">
            <div class="field-title">
              To year
            </div>
          </div>
        </div>
      </div>
      <%= render partial: "member_area/visited_countries/visited_country", collection: tuberculosis_chicken_pox_check.visited_countries %>
    <% end %>

    <hr class="partial-separator" />

    <h4>Have you had any of the following?</h4>

    <div class="row">
      <div class="small-10 columns">
        <div class="field-title">
          A cough which has lasted for more than 3 weeks?
        </div>
      </div>
      <div class="small-2 columns">
        <%= presenter.cough %>
      </div>
    </div>
    <div class="row">
      <div class="small-10 columns">
        <div class="field-title">Unexplained weight loss?</div>
      </div>
      <div class="small-2 columns">
        <%= presenter.weight_loss %>
      </div>
    </div>
    <div class="row">
      <div class="small-10 columns">
        <div class="field-title">Unexplained fever?</div>
      </div>
      <div class="small-2 columns">
        <%= presenter.fever %>
      </div>
    </div>
    <div class="row">
      <div class="small-10 columns">
        <div class="field-title">Have you had tuberculosis (TB) or been in recent contact with open TB?</div>
      </div>
      <div class="small-2 columns">
        <%= presenter.had_tb %>
      </div>
    </div>

    <% if presenter.has_additional_information? %>
      <div class="row">
        <div class="small-12 columns">
          <h6>Additional Information</h6>
          <%= presenter.additional_information %>
        </div>
      </div>
    <% end %>

    <hr class="partial-separator" />

    <h4>Chicken Pox or Shingles</h4>
    <div class="row">
      <div class="small-6 columns">
        <div class="field-title">
          Have you ever had chicken pox or shingles?
        </div>
      </div>
      <div class="small-6 columns">
        <%= presenter.had_chicken_pox %>
      </div>
    </div>
  <% end %>
</div>
