<%= form_for [:member_area, @member_qualification], url: member_area_member_qualification_path do |f| %>
  <%= field_set_tag 'Professional Register' do %>
    <div class="row">
      <div class="small-8 columns">
        <div class="field">
          <%= f.label :register, "Which professional register are you a member of? (if any)" %>
          <%= f.text_field :register %>
        </div>
        <div class="field">
          <%= f.label :registration_number, "Your professional registration number (PIN)" %>
          <%= f.text_field :registration_number %>
        </div>
        <div class="field">
          <%= f.label :expiry_date %>
          <%= f.date_select :expiry_date, { order: [:day, :month, :year] }, class: 'date-select' %>
        </div>
      </div>

      <div class="small-4 columns">
        <p>
          If you currently work within the NHS,
          what is your current AFC Band?
        </p>

        <div class="afc-bands-wrap">
          <div class="afc-band">
            <%= f.label :afc_band, "Band 2", value: 2 %>
            <%= f.radio_button :afc_band, 2 %>
          </div>

          <div class="afc-band">
            <%= f.label :afc_band, "Band 3", value: 3 %>
            <%= f.radio_button :afc_band, 3 %>
          </div>

          <div class="afc-band">
            <%= f.label :afc_band, "Band 4", value: 4 %>
            <%= f.radio_button :afc_band, 4 %>
          </div>

          <div class="afc-band">
            <%= f.label :afc_band, "Band 5", value: 5 %>
            <%= f.radio_button :afc_band, 5 %>
          </div>

          <div class="afc-band">
            <%= f.label :afc_band, "Band 6", value: 6 %>
            <%= f.radio_button :afc_band, 6 %>
          </div>

          <div class="afc-band">
            <%= f.label :afc_band, "Band 7 or Higher", value: 7 %>
            <%= f.radio_button :afc_band, 7 %>
          </div>

          <div class="afc-band">
            <%= f.label :afc_band, "Do not work within the NHS", value: nil %>
            <%= f.radio_button :afc_band, nil %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= field_set_tag 'Qualifications' do %>
    <div id="qualifications">
      <%= f.fields_for :qualifications do |qualification| %>
        <%= render "member_area/member_qualifications/qualification_fields", f: qualification %>
      <% end %>

      <div class="links">
        <%= link_to_add_association "Add Qualification", f, :qualifications %>
      </div>
    </div>

    <div class="field">
      <%= f.label :additional_qualifications %>
      <%= f.text_area :additional_qualifications, placeholder: "Mental Health Nursing / Recovery / Advanced Scrub Practitioner / Tissue viability etc" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
