<div class="nested-fields">
  <div class="row">
    <div class="medium-4 columns">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="medium-4 columns">
      <div class="field">
        <%= f.label :grade_obtained %>
        <%= f.text_field :grade_obtained %>
      </div>
    </div>

    <div class="medium-4 columns">
      <div class="field">
        <%= f.label :completed_date, 'Completed Date', class: 'display-block' %>
        <%= f.date_select :completed_date, { order: [:day, :month, :year] }, class: 'date-select' %>
      </div>
    </div>
  </div>

  <%= link_to_remove_association "Remove Qualification", f, class: 'right' %>
</div>
