<%= content_tag :div, class: home_audience_classes(audience) do %>
  <%= link_to audience_path(audience) do %>
    <h2><%= I18n.t(home_audience_title(audience)) %></h2>
    <%= image_tag home_audience_image(audience), alt: audience.name, title: audience.name %>
    <ul>
      <% audience.work_reasons.each do |work_reason| %>
        <li>
          <%= work_reason.title %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
