<div class="row collapse module-list-index <%= cycle('odd', 'even') %>"
  data-equalizer="module-list" id="item-<%= job_role.id %>">
  <% present job_role do |presenter| %>
    <div class="large-10 small-4 columns"
      data-equalizer-watch="module-list">
      <%= job_role.title %>
    </div>

    <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
      <%= presenter.edit_link %>
    </div>

    <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
      <%= presenter.delete_link %>
    </div>
  <% end %>
</div>
