<%= form_tag member_area_sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= email_field_tag :email, params[:email] %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= label_tag :remember_me %>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  </div>

  <%= link_to "Forgotten password?", new_member_area_password_reset_path %>

  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>

