<table border="0" cellpadding="0" cellspacing="0" width="600">
  <tr>
    <td style="color: #000;
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: inline-block;
        line-height: 14px;
        margin: 0;
        padding: 10px 0;
    ">
      <%= @contact.name %>
    </td>
  </tr>
  <tr>
    <td style="color: #000;
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: inline-block;
        line-height: 14px;
        margin: 0;
        padding: 10px 0;
    ">
      <%= @contact.phone_number %>
    </td>
  </tr>
  <tr>
    <td style="color: #000;
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: inline-block;
        line-height: 14px;
        margin: 0;
        padding: 10px 0;
    ">
      <%= mail_to @contact.email %>
    </td>
  </tr>
  <% if @contact.location.present? %>
    <tr>
      <td style="color: #000;
          font-family: Arial, sans-serif;
          font-size: 14px;
          display: inline-block;
          line-height: 14px;
          margin: 0;
          padding: 10px 0;
      ">
        Location: <%= @contact.location %>
      </td>
    </tr>
  <% end %>
  <% if @contact.enquiry_type.present? %>
    <tr>
      <td style="color: #000;
          font-family: Arial, sans-serif;
          font-size: 14px;
          display: inline-block;
          line-height: 14px;
          margin: 0;
          padding: 10px 0;
      ">
        <%= @contact.enquiry_type %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td style="color: #000;
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: inline-block;
        line-height: 14px;
        margin: 0;
        padding: 10px 0;
    ">
      <%= @contact.message %>
    </td>
  </tr>
</table>
