<% present basic_information do |basic_information_presenter| %>
  <div class="row">
    <div class="small-12 columns">
      <h2>About You</h2>

      <h4>Full Name</h4>

      <div class="row">
        <div class="small-12 medium-3 columns">
          <div class="field-title">Title</div>
          <%= basic_information_presenter.title %>
        </div>
        <div class="small-12 medium-3 columns">
          <div class="field-title">First Name</div>
          <%= basic_information_presenter.first_name %>
        </div>
        <div class="small-12 medium-3 columns">
          <div class="field-title">Middle Name(s)</div>
          <%= basic_information_presenter.middle_names %>
        </div>
        <div class="small-12 medium-3 columns">
          <div class="field-title">Last Name</div>
          <%= basic_information_presenter.last_name %>
        </div>
      </div>

      <hr class="partial-separator" />

      <h4>Contact Information</h4>

      <div class="row">
        <div class="small-12 medium-3 columns">
          <div class="field-title">Mobile Number</div>
          <%= basic_information_presenter.mobile_number %>
        </div>
        <div class="small-12 medium-3 columns">
          <div class="field-title">Home Number</div>
          <%= basic_information_presenter.home_number %>
        </div>
        <div class="small-12 medium-6 columns">
          <div class="field-title">Email Address</div>
          <%= basic_information_presenter.email_address %>
        </div>
      </div>

      <hr class="partial-separator" />

      <h5>
        Previous Names, Date of Birth and National Insurance Details
      </h5>

      <div class="row">
        <div class="small-12 medium-6 columns">
          <div class="field-title inline">
            Using current name since
          </div>

          <div class="right">
            <%= basic_information_presenter.using_current_name_since(:default) %>
          </div>
        </div>
        <div class="small-12 medium-6 columns">
          <div class="row">
            <div class="small-6 columns">
              <div class="field-title inline">
                Have changed name
              </div>
            </div>
            <div class="small-6 columns">
              <%= basic_information_presenter.changed_name %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 columns">
          <div class="field-title">Previous names</div>
          <%= basic_information_presenter.previous_names %>
        </div>
        <div class="small-12 medium-6 columns">
          <div class="row">
            <div class="small-6 columns">
              <div class="field-title">Date of Birth</div>
            </div>
            <div class="small-6 columns">
              <%= basic_information_presenter.date_of_birth %>
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns">
              <div class="field-title">N.I. Number</div>
            </div>
            <div class="small-6 columns">
              <%= basic_information_presenter.national_insurance_number %>
            </div>
          </div>
        </div>
      </div>

      <hr class="partial-separator" />

      <h4>Referral Information</h4>

      <div class="row">
        <div class="small-12 medium-6 columns">
          <div class="field-title">Heard about us from</div>
          <%= basic_information_presenter.where_heard %>
        </div>

        <div class="small-12 medium-6 columns">
          <div class="field-title">
            Referred by <%= basic_information_presenter.referred_by %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
