<%= form_for [:member_area, @basic_information], url: member_area_basic_information_path do |f| %>

  <% if @basic_information.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize @basic_information.errors.count, "error" %> prevented your information from being saved</h3>
      <ul>
        <% @basic_information.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag "Full Name" do %>
    <label>
      Title
    </label>

    <div class="name-titles-wrap">
      <% BasicInformation::TITLES.each do |title| %>
        <div class="name-title">
          <%= f.radio_button :title, title %>
          <%= f.label :title, value: title %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="small-4 columns">
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="field">
          <%= f.label :middle_names %>
          <%= f.text_field :middle_names %>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>
    </div>
  <% end %>

  <%= field_set_tag "Contact Information" do %>
    <div class="row">
      <div class="small-4 columns">
        <div class="field">
          <%= f.label :mobile_number %>
          <%= f.telephone_field :mobile_number %>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="field">
          <%= f.label :home_number %>
          <%= f.telephone_field :home_number %>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="field">
          <%= f.label :email_address %>
          <%= f.email_field :email_address %>
        </div>
      </div>
    </div>
  <% end %>


  <%= field_set_tag "Previous Names" do %>
    <p>
      Have you ever used or been known under a different First or Last name(s) other than your current name? (e.g. Maiden Name)
    </p>

    <div class="field">
      <%= f.label :changed_name, "Yes", value: true %>
      <%= f.radio_button :changed_name, true %>

      <%= f.label :changed_name, "No", value: false %>
      <%= f.radio_button :changed_name, false %>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <div class="field">
          <%= f.label :using_current_name_since, "How long have you been using your current name?" %>
          <%= f.date_select :using_current_name_since, { discard_day: true, start_year: Date.today.year, end_year: (Date.today.year - 60), order: [:month, :year, :day] }, class: 'date-select' %>
        </div>
      </div>

      <div class="medium-6 columns">
        <div class="field">
          <%= f.label :previous_names, "What previous name(s) have you had?" %>
          <%= f.text_area :previous_names %>
        </div>
      </div>
    </div>
  <% end %>

  <%= field_set_tag "Personal Information" do %>
    <div class="row">
      <div class="medium-6 columns">
        <div class="field">
          <%= f.label :date_of_birth %>
          <%= f.date_select :date_of_birth, { start_year: Date.today.year, end_year: (Date.today.year - 60), order: [:day, :month, :year] }, class: 'date-select' %>
        </div>
      </div>

      <div class="medium-6 columns">
        <div class="field">
          <%= f.label :national_insurance_number %>
          <%= f.text_field :national_insurance_number %>
        </div>
      </div>
    </div>
  <% end %>

  <%= field_set_tag "Referral Information" do %>
    <div class="row">
      <div class="medium-6 columns">
        <div class="field">
          <label class="display-block">
            Where did you hear about us?
          </label>

          <div class="where-heards-list">
            <% BasicInformation::WHERE_HEARDS.each do |key, value| %>
              <div class="where-heard">
                <%= f.radio_button :where_heard, value %>
                <%= f.label :where_heard, key, value: value %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="medium-6 columns">
        <div class="field">
          <%= f.label :member_where_heard, "Please specify if you chose other" %>
          <%= f.text_field :member_where_heard %>
        </div>

        <div class="field">
          <%= f.label :referred_by %>
          <%= f.text_field :referred_by %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
