<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= key_contact_presenter.id %>">
  <div class="large-3 small-4 columns" data-equalizer-watch="module-list">
    <%= key_contact_presenter.name %>
  </div>
  <div class="small-3 columns" data-equalizer-watch="module-list">
    <%= key_contact_presenter.email %>
  </div>
  <div class="small-2 columns" data-equalizer-watch="module-list">
    <%= key_contact_presenter.phone_number %>
  </div>
  <div class="small-2 columns" data-equalizer-watch="module-list">
    <%= key_contact_presenter.mobile_number %>
  </div>
  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= key_contact_presenter.edit_link %>
  </div>
  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= key_contact_presenter.delete_link %>
  </div>
</div>
