<%= form_for(@additional_button) do |f| %>
<% if @additional_button.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@additional_button.errors.count, "error") %> prohibited this additional_button from being saved:</h2>

    <ul>
      <% @additional_button.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <!-- <li><a href="#tabs-2">Media</a></li>-->
      <li><a href="#tabs-3">Settings</a></li>
      <li><a href="#tabs-4">Animation</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
            <div class="field">
        <%= f.label :button_text %><br>
        <%= f.text_field :button_text %>
      </div>
            <div class="field">
        <%= f.label :button_link %><br>
        <%= f.text_field :button_link %>
      </div>


          <% end %>

    <%#= field_set_tag nil, id: 'tabs-2' do %>

          <%# end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>
    <div class="field">
<%= f.label :display %><br>
<%= f.check_box :display %>
</div>
          <% end %>

          <%= field_set_tag nil, id: 'tabs-4' do %>
            <%= render 'optimadmin/additional_animations/form', f: f %>
                <% end %>
  </div>

  <div class="actions">
    <%= f.hidden_field :additional_block_id, value: (params[:additional_button].present? ? params[:additional_button][:additional_block_id] : params[:additional_block_id]) if @additional_button.new_record? %>
    <%= f.submit %>
  </div>
<% end %>
