<div class="emergency-contact">
  <%= emergency_contact.full_name %>
  <%= emergency_contact.email_address %>
  <%= emergency_contact.mobile_number %>
  <%= emergency_contact.relationship %>
  <%= emergency_contact.edit_link %>
</div>