<div class="emergency-contact">
  <% present emergency_contact do |presenter| %>
    <h4 class="emergency-contact-title">
      Emergency Contact (Next of Kin)
      <%= presenter.edit_link unless locked %>
    </h4>

    <div class="row">
      <div class="large-4 medium-6 columns">
        <div class="emergency-contact-field-title">
          Full name
        </div>

        <%= presenter.full_name %>
      </div>

      <div class="large-4 medium-6 columns">
        <div class="emergency-contact-field-title">
          Email address
        </div>

        <%= presenter.email_address %>
      </div>

      <div class="large-4 medium-6 columns">
        <div class="emergency-contact-field-title">
          Mobile number
        </div>

        <%= presenter.mobile_number %>
      </div>
    </div>

    <div class="emergency-contact-field-title">
      Relationship to next of kin
    </div>

    <%= presenter.relationship %>
  <% end %>
</div>
