<%= form_for [:member_area, @emergency_contact], url: member_area_emergency_contact_path do |f| %>

  <% if @emergency_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @emergency_contact.errors.count, "error" %> prevented your emergency contact from being saved</h2>
      <ul>
        <% @emergency_contact.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-6 columns">
      <div class="field">
        <%= f.label :full_name %>
        <%= f.text_field :full_name %>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="field">
        <%= f.label :email_address %>
        <%= f.email_field :email_address %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <div class="field">
        <%= f.label :mobile_number %>
        <%= f.telephone_field :mobile_number %>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="field">
        <%= f.label :relationship, "Relationship to next of kin" %>
        <%= f.text_field :relationship %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>