<%= form_for [:member_area, @member_address] do |f| %>
  <% if @member_address.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize @member_address.errors.count, "error" %> prevented the address from being saved</h3>
      <ul>
        <% @member_address.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :lived_here_from %>
    <%= f.date_select :lived_here_from %>
  </div>

  <div class="field">
    <%= f.label :lived_here_to %>
    <%= f.date_select :lived_here_to, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :current, "Current Address" %>
    <%= f.check_box :current %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>