<%= form_for [:member_area, @member_address] do |f| %>
  <% if @member_address.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize @member_address.errors.count, "error" %> prevented the address from being saved</h3>
      <ul>
        <% @member_address.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag 'Address Details' do %>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
  <% end %>

  <%= field_set_tag 'Address Duration' do %>
    <div class="row">
      <div class="medium-6 columns">
        <div class="field">
          <%= f.label :lived_here_from %>
          <%= f.date_select :lived_here_from, { order: [:day, :month, :year] }, class: 'date-select' %>
        </div>
      </div>

      <div class="medium-6 columns">
        <div class="field">
          <%= f.label :lived_here_to %>
          <%= f.date_select :lived_here_to, { order: [:day, :month, :year], include_blank: true}, class: 'date-select' %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :current, "Current Address" %>
      <%= f.check_box :current %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
