<%= render 'optimadmin/shared/header/main_title', title: 'Manage Clients' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Client', object: Client, path: new_client_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <!--
      <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    -->
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @clients.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item('small-4') { 'Name' } %>
    <%= list_item('large-3 small-4') { 'Website' } %>

    <%= list_item('large-2 hide-for-medium-down') { 'Image' } %>
    <%= list_item { 'Display' } %>

    <%= list_item { 'Edit' } %>

    <%= list_item('large-1 hide-for-medium-down text-center last') { 'Delete' } %>
  </div>

  <!-- <div class='module-sortable' data-module="Client"> -->
  <%= render partial: 'client', collection: @clients, as: :client_presenter %>
  <!-- </div> -->
  <%= paginate @clients %>
</div>
