<%= form_for(@landing_page) do |f| %>
  <% if @landing_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@landing_page.errors.count, "error") %> prohibited this landing_page from being saved:</h2>

      <ul>
        <% @landing_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :suggested_url %><br>
    <%= f.text_field :suggested_url %>
  </div>

  <%= field_set_tag "Landing Page Why Works" do %>
    <div class="field">
      <%= f.collection_check_boxes :landing_page_why_work_ids, LandingPageWhyWork.order(title: :asc), :id, :title do |b| %>
        <%= b.label %>
        <%= b.check_box %>
        <br/>
      <% end %>
    </div>
  <% end %>

  <%= field_set_tag "Testimonials" do %>
    <div class="field">
      <%= f.collection_check_boxes :testimonial_ids, Testimonial.order(surname: :asc, forename: :asc), :id, :full_name do |b| %>
        <%= b.label %>
        <%= b.check_box %>
        <br/>
      <% end %>
    </div>
  <% end %>

  <%= field_set_tag "FAQs" do %>
    <div class="field">
      <%= f.collection_check_boxes :frequently_asked_question_ids, FrequentlyAskedQuestion.order(question: :asc), :id, :question do |b| %>
        <%= b.label %>
        <%= b.check_box %>
        <br/>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
