<div class="row collapse">
  <div class="medium-6 large-3 columns">
    <div class="work-for-nlgroup-reason green" data-animation-type='fadeInUp'>
      <div class="reason-icon">
        <%= image_tag 'components/reasons/graph-icon.png', alt: '' %>
      </div>

      <div class="reason-title">
        The money is great
      </div>

      <div class="reason-content">
        <p>
          We offer excellent and competitive rates of pay which vary on shift
          type, all paid weekly by direct bank transfer.
        </p>
      </div>
    </div>
  </div>

  <div class="medium-6 large-3 columns">
    <div class="work-for-nlgroup-reason primary-blue" data-animation-type='fadeInUp' data-animation-delay="750">
      <div class="reason-icon">
        <%= image_tag 'components/reasons/compass.jpg', alt: '' %>
      </div>

      <div class="reason-title">
        <%= link_to '#reason-1', class: 'display-block toggle-class', data: { container: '#reason-1', class: 'hide-for-small', return: 'false' } do %>
          <%= image_tag 'components/icons/reveal-arrow.png', alt: 'Reveal more', class: 'show-for-small' %>
          Shift flexibility
        <% end %>
      </div>

      <div class="reason-content hide-for-small" id="reason-1">
        <p>
          We can provide a flexible working pattern over a great deal of geographical locations across the North of England, giving individuals the freedom to work in a variety of hospitals and trusts on a number of different shift patterns.
        </p>
      </div>
    </div>
  </div>

  <div class="medium-6 large-3 columns">
    <div class="work-for-nlgroup-reason dark-green" data-animation-type='fadeInUp' data-animation-delay="1250">
      <div class="reason-icon">
        <%= image_tag 'components/reasons/number-1.jpg', alt: '' %>
      </div>

      <div class="reason-title">
        <%= link_to '#reason-2', class: 'display-block toggle-class', data: { container: '#reason-2', class: 'hide-for-small', return: 'false' } do %>
          <%= image_tag 'components/icons/reveal-arrow.png', alt: 'Reveal more', class: 'show-for-small' %>
          We are a market leader
        <% end %>
      </div>

      <div class="reason-content hide-for-small" id="reason-2">
        <p>
          NL Group have been providing specialist healthcare professionals throughout Yorkshire for more than 15 years. We have hundreds of long standing client relationships, which gives us a real head start in finding work for our workforce.
        </p>
      </div>
    </div>
  </div>

  <div class="medium-6 large-3 columns">
    <div class="work-for-nlgroup-reason light-blue" data-animation-type='fadeInUp' data-animation-delay="2000">
      <div class="reason-icon">
        <%= image_tag 'components/reasons/person.jpg', alt: '' %>
      </div>

      <div class="reason-title">
        <%= link_to '#reason-3', class: 'display-block toggle-class', data: { container: '#reason-3', class: 'hide-for-small', return: 'false' } do %>
          <%= image_tag 'components/icons/reveal-arrow.png', alt: 'Reveal more', class: 'show-for-small' %>
          We are a team of friendly northerners
        <% end %>
      </div>

      <div class="reason-content hide-for-small" id="reason-3">
        <p>
          Each worker is assigned a dedicated member of our team who will be a single point of contact. Our office staff are available 24/7 and pride themselves on developing a client relationship which is friendly, personable and we believe second to none.
        </p>
      </div>
    </div>
  </div>
</div>
