<%= render 'optimadmin/shared/header/main_title', title: 'Manage Audiences' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Audience',
      object: Audience, path: new_audience_path %>
    <%= render 'optimadmin/shared/module/index/recycle_bin',
      items: @audiences.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-10 small-4' do %>
      <%= link_to octicon('chevron-down'), '#',
        class: 'helper-link index-list-expand-all',
        data: { this_class: 'octicon-chevron-up octicon-chevron-down' } %>
      Title
    <% end %>
    <%= list_item { 'Edit' } %>
    <%= list_item('large-1 hide-for-medium-down text-center last') { 'Delete' } %>
  </div>

  <%= render partial: 'optimadmin/audiences/audience', collection: @audiences %>
</div>
