<%= form_for [:member_area, @member_submission], url: member_area_member_submission_path do |f| %>

  <% if @member_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @member_submission.errors.count, "error" %> prevented your submission</h2>
      <ul>
        <% @member_submission.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Candidate Handbook</h3>

  Please download the Candidate Handbook via the link: <strong>ADD LINK HERE</strong>

  <div class="field">
    <%= f.check_box :downloaded_handbook %>
    <%= f.label :downloaded_handbook do %>
      I confirm that I have downloaded / received a copy of the Candidate Handbook and that it is my responsibility to ensure
      I have read and understood each section of the handbook; my responsibilities and accountability for the role I have applied for.
    <% end %>
  </div>

  <h3>Health Declaration</h3>
  <div class="field">
    <%= f.check_box :health_information_accurate %>
    <%= f.label :health_information_accurate do %>
      I confirm that the information supplied in the occupational health screening section is true to the best of my belief.
      I agree to inform my employer of any health problems so that my health and safety can be protected whilst at work.
    <% end %>
  </div>

  <%= render "main_acceptance" %>

  <div class="field">
    <%= f.check_box :full_acknowledgement %>
    <%= f.label :full_acknowledgement do %>
      I confirm that I agree to all of the above
    <% end %>
  </div>

  <%= f.submit "Save" %>

<% end %>

