<section class="hero-banner">
  <div class="row collapse">
    <div class="medium-7 columns">
      <div class="hero-content-area">
        <div data-animation-type='fadeInUp'>
          <p>
            Ethical Healthcare People Management.
            15 years providing acute healthcare professionals.
          </p>
        </div>

        <%= link_to 'Register Your Internest', '#', class: 'light-action-button', title: 'Register Your Internest', data: { animation_type: 'fadeInUp', animation_delay: '500'} %>
        <%= link_to 'Find Work Near You', '#', class: 'dark-action-button', title: 'Find work near you', data: { animation_type: 'fadeInUp', animation_delay: '500'} %>
      </div>
    </div>
  </div>
</section>

<section class="introduction-wrap">
  <div class="row collapse small-uncollapse">
    <div class="medium-6 columns">
      <div class="branded-content-box" data-animation-type='slideInLeft'>
        <p>
          We provide brilliant nursing staff to cover nursing shortfalls
          for the NHS and private hospitals.
        </p>
      </div>
    </div>

    <div class="medium-6 columns">
      <div class="plain-bordered-content-box"  data-animation-type='slideInRight'>
        <p>
          At NL Group our ethical way of doing things is of pivotal
          importance to us. It is not about what we do, it is about how we do it.
          We believe in providing flexible working conditions for highly trained
          professional healthcare workers who represent NL Group in the best
          possible fashion, at very competitive rates of pay.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="testimonials first">
  <div class="row">
    <div class="medium-10 medium-offset-2">
      <%= image_tag 'components/content-boxes/testimonial-open-quote.png', alt: 'Testimonials', class: 'testimonial-quote-mark' %>
    </div>
  </div>

  <div class="row collapse small-uncollapse"  data-animation-type='fadeInUp'>
    <div class="medium-2 columns">
      <%= link_to '#', class: 'testimonial-thumbnail', title: '' do %>
        <%= image_tag 'placeholders/testimonial-author.jpg', alt: '' %>
      <% end %>
    </div>

    <div class="medium-10 columns">
      <p>
        I Relocated from Cardiff to Lincolnshire to continue my profession.
        Organising my weekly shifts was becoming increasingly difficult.
        I thought this was just part of the job. Until that is I was
        recommended to speak to NL Group. Their friendly team were
        immediately committed to developing my career and providing me
        with the flexibility that I needed.
      </p>

      <div class="testimonial-author">
        Neil Russell, Nurse (ICU)
      </div>

      <%= link_to "Watch Neil's Video", '#', class: 'testimonial-watch-video-link', title: 'Watch video' %>

      <div class="testimonial-action-button">
        <%= link_to 'Work full-time or pick up some extra shifts - Join our amazing team', '#', class: 'dark-action-button' %>
      </div>
    </div>
  </div>
</section>

<section class="work-for-nlgroup">
  <div class="row">
    <div class="medium-12 columns">
      <h2>Why work for NL Group?</h2>
    </div>
  </div>

  <div class="row collapse">
    <div class="medium-6 large-3 columns">
      <div class="work-for-nlgroup-reason green" data-animation-type='scaleIn'>
        <div class="reason-icon">
          <%= image_tag 'components/reasons/graph-icon', alt: '' %>
        </div>

        <div class="reason-title">
          The money is great
        </div>

        <div class="reason-content">
          <p>
            We offer excellent and competitive rates of pay which vary on shift
            type, all paid weekly by direct bank transfer. As well as providing
            free mandatory training, full uniform and company name badge, and
            whenever you pop in to see us, as much coffee as you can drink.
          </p>
        </div>
      </div>
    </div>

    <div class="medium-6 large-3 columns">
      <div class="work-for-nlgroup-reason primary-blue" data-animation-type='scaleIn' data-animation-delay="750">
        <div class="reason-icon">
          <%= image_tag 'components/reasons/graph-icon', alt: '' %>
        </div>

        <div class="reason-title">
          <%= link_to '#reason-1', class: 'display-block toggle-class', data: { container: '#reason-1', class: 'hide-for-small', return: 'false' } do %>
            <%= image_tag 'components/icons/reveal-arrow.png', alt: 'Reveal more', class: 'show-for-small' %>
            The money is great
          <% end %>
        </div>

        <div class="reason-content hide-for-small" id="reason-1">
          <p>
            We offer excellent and competitive rates of pay which vary on shift
            type, all paid weekly by direct bank transfer. As well as providing
            free mandatory training, full uniform and company name badge, and
            whenever you pop in to see us, as much coffee as you can drink.
          </p>
        </div>
      </div>
    </div>

    <div class="medium-6 large-3 columns">
      <div class="work-for-nlgroup-reason dark-green" data-animation-type='scaleIn' data-animation-delay="1250">
        <div class="reason-icon">
          <%= image_tag 'components/reasons/graph-icon', alt: '' %>
        </div>

        <div class="reason-title">
          <%= link_to '#reason-2', class: 'display-block toggle-class', data: { container: '#reason-2', class: 'hide-for-small', return: 'false' } do %>
            <%= image_tag 'components/icons/reveal-arrow.png', alt: 'Reveal more', class: 'show-for-small' %>
            The money is great
          <% end %>
        </div>

        <div class="reason-content hide-for-small" id="reason-2">
          <p>
            We offer excellent and competitive rates of pay which vary on shift
            type, all paid weekly by direct bank transfer. As well as providing
            free mandatory training, full uniform and company name badge, and
            whenever you pop in to see us, as much coffee as you can drink.
          </p>
        </div>
      </div>
    </div>

    <div class="medium-6 large-3 columns">
      <div class="work-for-nlgroup-reason light-blue" data-animation-type='scaleIn' data-animation-delay="2000">
        <div class="reason-icon">
          <%= image_tag 'components/reasons/graph-icon', alt: '' %>
        </div>

        <div class="reason-title">
          <%= link_to '#reason-3', class: 'display-block toggle-class', data: { container: '#reason-3', class: 'hide-for-small', return: 'false' } do %>
            <%= image_tag 'components/icons/reveal-arrow.png', alt: 'Reveal more', class: 'show-for-small' %>
            The money is great
          <% end %>
        </div>

        <div class="reason-content hide-for-small" id="reason-3">
          <p>
            We offer excellent and competitive rates of pay which vary on shift
            type, all paid weekly by direct bank transfer. As well as providing
            free mandatory training, full uniform and company name badge, and
            whenever you pop in to see us, as much coffee as you can drink.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials second">
  <div class="row">
    <div class="medium-10 medium-offset-2">
      <%= image_tag 'components/content-boxes/testimonial-open-quote.png', alt: 'Testimonials', class: 'testimonial-quote-mark' %>
    </div>
  </div>

  <div class="row collapse  small-uncollapse"  data-animation-type='fadeInUp'>
    <div class="medium-2 columns">
      <%= link_to '#', class: 'testimonial-thumbnail', title: '' do %>
        <%= image_tag 'placeholders/testimonial-author.jpg', alt: '' %>
      <% end %>
    </div>

    <div class="medium-10 columns">
      <p>
        I Relocated from Cardiff to Lincolnshire to continue my profession.
        Organising my weekly shifts was becoming increasingly difficult.
        I thought this was just part of the job. Until that is I was
        recommended to speak to NL Group. Their friendly team were
        immediately committed to developing my career and providing me
        with the flexibility that I needed.
      </p>

      <div class="testimonial-author">
        Neil Russell, Nurse (ICU)
      </div>

      <%= link_to "Watch Neil's Video", '#', class: 'testimonial-watch-video-link', title: 'Watch video' %>

      <div class="testimonial-action-button">
        <%= link_to 'You can keep your existing job and  pick up some extra shifts with us - Join our amazing team', '#', class: 'dark-action-button' %>
      </div>
    </div>
  </div>
</section>

<section class="rates-of-pay">
  <div class="row">
    <div class="medium-12 columns">
      <h3>Our Rates of Pay</h3>

      <div class="rates-of-pay-introduction">
        <p>
          We believe our rates of pay to be second to none, always fair and totally transparent.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-4 columns">
      <div class="small-branded-content-box"  data-animation-type='scaleIn'>
        <div class="rate-title">
          ODP rates
        </div>

        <div class="rate-amount">
          £26.00 ˜ £53.00*
        </div>

        <div class="rate-time">
          per hour
        </div>
      </div>
    </div>

    <div class="medium-4 columns">
      <div class="small-branded-content-box"  data-animation-type='scaleIn' data-animation-delay="750">
        <div class="rate-title">
          ODP rates
        </div>

        <div class="rate-amount">
          £26.00 ˜ £53.00*
        </div>

        <div class="rate-time">
          per hour
        </div>
      </div>
    </div>

    <div class="medium-4 columns">
      <div class="small-branded-content-box" data-animation-type='scaleIn' data-animation-delay="1250">
        <div class="rate-title">
          ODP rates
        </div>

        <div class="rate-amount">
          £26.00 ˜ £53.00*
        </div>

        <div class="rate-time">
          per hour
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-8 large-centered columns">
      <div class="rate-small-print">
        <p>
          *The actual rate you are paid will be dependant on the client and actual shift pattern you work, the above
  demonstrates the lowest and highest of these shift patterns for this band
        </p>
      </div>
    </div>
  </div>
</section>

<section class="testimonials third">
  <div class="row">
    <div class="medium-10 medium-offset-2">
      <%= image_tag 'components/content-boxes/testimonial-open-quote.png', alt: 'Testimonials', class: 'testimonial-quote-mark' %>
    </div>
  </div>

  <div class="row collapse small-uncollapse" data-animation-type='fadeInUp'>
    <div class="medium-2 columns">
      <%= link_to '#', class: 'testimonial-thumbnail', title: '' do %>
        <%= image_tag 'placeholders/testimonial-author.jpg', alt: '' %>
      <% end %>
    </div>

    <div class="medium-10 columns">
      <p>
        I Relocated from Cardiff to Lincolnshire to continue my profession.
        Organising my weekly shifts was becoming increasingly difficult.
        I thought this was just part of the job. Until that is I was
        recommended to speak to NL Group. Their friendly team were
        immediately committed to developing my career and providing me
        with the flexibility that I needed.
      </p>

      <div class="testimonial-author">
        Neil Russell, Nurse (ICU)
      </div>

      <%= link_to "Watch Neil's Video", '#', class: 'testimonial-watch-video-link', title: 'Watch video' %>

      <div class="testimonial-action-button">
        <%= link_to 'You can keep your existing job and  pick up some extra shifts with us - Join our amazing team', '#', class: 'dark-action-button' %>
      </div>
    </div>
  </div>
</section>

<%= content_for :footer do %>
<script>
  $('.clients-list').slick({
    infinite: true,
    dots: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 4000,
    responsive: [
      {
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          dots: true
        }
      }
    ]
  });
</script>
<% end %>

<section class="clients">
  <div class="row">
    <div class="medium-12 columns text-center">
      <h2>Our Clients</h2>

      <p>Are you looking for an incredibly talented and flexible team?</p>

      <ul class="clients-list" data-animation-type='fadeInUp'>
        <li>
          <%= link_to '#', title: 'Client preview' do %>
            <%= image_tag 'placeholders/client-logo.png', alt: 'Client preview' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="team">
  <div class="row">
    <div class="medium-12 large-10 columns">
      <div data-animation-type="slideInLeft">
        <h4>A friendly team you can rely on</h4>

        <p>
          At NL Group our ethical way of doing things is of pivotal importance to us. It is not about what we do, it is about how we do it. We believe in providing flexible working conditions for highly trained professional healthcare workers who represent NL Group in the best possible fashion, at very competitive rates of pay.
        </p>

        <%= link_to 'Speak to one of our friendly team', '#', class: 'dark-action-button' %>
      </div>
    </div>
  </div>

  <div class="home-team-members" data-animation-type="slideInRight">
    <%= image_tag 'placeholders/team-members.png' %>
  </div>
</section>

<section class="frequently-asked-questions">
  <div class="row">
    <div class="medium-12 columns text-center" data-animation-type="fadeInUp">
      <h4>FAQs</h4>

      <p>We know you will have questions. Here are answers to our most common.</p>
      <p>If in doubt call <strong>0333 123 456</strong> we don't bite.</p>

      <p class="frequently-asked-questions-reveal">
        Click on a question to get the answer.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns" data-animation-type="fadeInUp" data-animation-delay="500">
      <ul class="frequently-asked-questions-list">
        <li>
          <%= link_to 'How much work is available?', '#' %>
        </li>
      </ul>
    </div>

    <div class="medium-6 columns" data-animation-type="fadeInUp" data-animation-delay="1000">
      <ul class="frequently-asked-questions-list">
        <li>
          <%= link_to 'How much work is available?', '#' %>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="social">
  <div class="row">
    <div class="medium-12 columns text-center">
      Follow Us

      <%= social_media_link 'Facebook' %>
      <%= social_media_link 'Twitter' %>
      <%= social_media_link 'Google Plus' %>
      <%= social_media_link 'Vimeo' %>
    </div>
  </div>
</section>

<footer class="primary-footer">
  <div class="row">
    <div class="medium-12 columns">
      <h5>Contact Us</h5>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns" data-animation-type="slideInLeft">
      <p>
        If you would like to contact us about anything else, please use the form
        opposite and a member of our friendly team will be right back to you:<br /><br />

        <%= image_tag 'layout/header/logo.png', alt: 'NL Group' %><br /><br />


        NL Group<br />
        The Riverside Building<br />
        Livingstone Road<br />
        Hessle<br />
        East Riding of Yorkshire<br />
        HU13 0DZ<br /><br />

        <%= link_to 'nlgroup.co.uk', 'http://nlgroup.co.uk' %><br /><br />

        Email: <%= mail_to 'info@nlgroup.co.uk' %><br />
        Tel: 01482 60 60 40 (Option 1)<br />
        Fax: 01482 62 83 81
    </div>

    <div class="medium-6 columns" data-animation-type="slideInRight">
      <%= render 'contacts/form' %>
    </div>
  </div>
</footer>
