<%= content_for :footer do %>
  <script>
    $(document).ready(function() {
      var $slick = $('.testimonials-slick-<%= additional_block_presenter.id %>');

      $slick.slick({
        autoplay: true,
        arrows: true,
        dots: true,
        slidesToShow: 1
      });
    });
  </script>
<% end %>
<section class="testimonials testimonials-group-<%= additional_block_presenter.id %>">
  <div class="row">
    <div class="small-12 columns">
      <div class="testimonials-slick-<%= additional_block_presenter.id %> green-slick-arrows shared-slick-arrows">
        <%= render partial: 'testimonials/shared/testimonial_content', collection: presented_testimonials, as: :testimonial_presenter, locals: { additional_block_presenter: additional_block_presenter } %>
        <%#= render partial: 'testimonials/shared/testimonial_content', collection: @presented_testimonials.reject{ |x| x == testimonial_presenter }, as: :testimonial_presenter, locals: { additional_block_presenter: additional_block_presenter } %>
      </div>

      <%= link_to 'View more testimonials', '#', class: "view-more-testimonials testimonials-slick-#{additional_block_presenter.id}", data: { testimonials_group: additional_block_presenter.id } %>
    </div>
  </div>
</section>
