<%= content_for :footer do %>
  <script>
    $(function() {
      $(".testimonial-video-link-<%= testimonial_presenter.id %>").colorbox({
        inline: true,
        href: "#testimonial-video-<%= testimonial_presenter.id %>",
        onOpen: function() { $('#testimonial-video-<%= testimonial_presenter.id %>').uncomment(); }
      });
    })
  </script>
<% end %>
<section class="testimonials <%= cycle 'first', 'second', 'third' %>">
  <%= render partial: 'testimonials/shared/testimonial_content', locals: { testimonial_presenter: testimonial_presenter, additional_block_presenter: additional_block_presenter } %>
</section>
