<section class="testimonials <%= cycle 'first', 'second', 'third' %>">
  <div class="row">
    <div class="medium-10 medium-offset-2">
      <%= image_tag 'components/content-boxes/testimonial-open-quote.png', alt: 'Testimonials', class: 'testimonial-quote-mark' %>
    </div>
  </div>

  <div class="row collapse small-uncollapse"  data-animation-type='fadeInUp'>
    <div class="medium-2 columns">
      <%= testimonial_presenter.show_image(alt: testimonial_presenter.name, class: 'testimonial-thumbnail') %>
    </div>

    <div class="medium-10 columns">
      <%= testimonial_presenter.content %>

      <div class="testimonial-author">
        <%= testimonial_presenter.name %>, <%= testimonial_presenter.role %>
      </div>

      <%#= testimonial_presenter.video_link %>
      <!-- <%= link_to "Watch Video", '#', class: 'testimonial-watch-video-link', title: 'Watch video' %> -->

      <div class="testimonial-action-button">
        <%= link_to 'Work full-time or pick up some extra shifts - Join our amazing team', '#why-work-for-nl-group', class: 'dark-action-button' %>
      </div>
    </div>
  </div>
</section>
