<%= content_for :footer do %>
  <script>
    $(function() {
      $(".testimonial-video-link-<%= testimonial_presenter.id %>").colorbox({
        inline: true,
        href: "#testimonial-video-<%= testimonial_presenter.id %>",
        onOpen: function() { $('#testimonial-video-<%= testimonial_presenter.id %>').uncomment(); }
      });
    })
  </script>
<% end %>
<section class="testimonials inner">
  <%= render 'testimonials/shared/testimonial_content', testimonial_presenter: testimonial_presenter %>    
</section>
