<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/head' %>
  </head>

  <body>
    <%= render 'layouts/shared/header' %>

    <%= render 'shared/flash_messages' %>

    <%= yield %>

    <%= render 'layouts/shared/footer' %>

    <%= javascript_include_tag 'application' %>
    
    <%= yield :footer %>
  </body>
</html>
