<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/head' %>
  </head>

  <body>
    <div class="colorbox-content">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'vendor/onscreen' %>
    <%= javascript_include_tag 'components/animate' %>
    <%= yield :footer %>
  </body>
</html>
