<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
  <head>
    <%= render 'layouts/shared/head' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' %>
  </head>

  <body class="member-area">
    <%= render 'layouts/shared/member_area_header' %>

    <div class="member-content">
      <%= render 'shared/flash_messages' %>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>

    <%= yield :footer %>
  </body>
</html>
