<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
  <head>
    <%= render 'layouts/shared/head' %>
    <%= stylesheet_link_tag 'layout/pdf', media: 'all' %>
  </head>

  <body class="member-area">
    <header class="top-header">
      <%= link_to member_area_root_url, title: global_site_settings['Name'] do %>
        <%= image_tag 'layout/header/logo-print.png', alt: global_site_settings['Name'], width: 163 %>
      <% end %>
    </header>

    <%= render 'shared/flash_messages' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <%= yield :footer %>
  </body>
</html>
