<!DOCTYPE html>
  <!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
  <head>
    <%#= render 'layouts/shared/head' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= wicked_pdf_stylesheet_link_tag  'application' %>
    <%= wicked_pdf_stylesheet_link_tag  'layout/pdf' %>
    <%= wicked_pdf_stylesheet_link_tag  'layout/timesheet' %>
  </head>

  <body>
    <%= yield %>

    <%= wicked_pdf_javascript_include_tag  'application' %>

    <%= yield :footer %>
  </body>
</html>
