<div class="small-12 columns">
  <h1>Set Password</h1>

  <%= form_for @member_profile, url: member_area_set_password_path(params[:id]) do |f| %>
    <% if @member_profile.errors.any? %>
      <div id="error_explanation">
        <h2>Form is invalid</h2>
        <ul>
          <% @member_profile.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "Set Password" %>
    </div>
  <% end %>
</div>