<ul class="member-navigation">
  <li>
    <%= presented_current_member_profile.edit_profile_link %>
  </li>

  <li>
    <%= presented_current_member_profile.basic_information_link %>
  </li>

  <li>
    <%= presented_current_member_profile.work_eligibility_link %>
  </li>

  <li>
    <%= presented_current_member_profile.addresses_link %>
  </li>

  <li>
    <%= presented_current_member_profile.member_qualification_link %>
  </li>

  <li>
    <%= presented_current_member_profile.member_training_link %>
  </li>

  <li>
    <%= presented_current_member_profile.referee_and_emergency_contact_link %>
  </li>

  <li>
    <%= presented_current_member_profile.occupational_health_screening_link %>
  </li>

  <li>
    <%= presented_current_member_profile.dbs_check_link %>
  </li>

  <li>
    <%= presented_current_member_profile.payment_information_link %>
  </li>
</ul>
